NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/quickserve"
PORT=4000
JWT_ACCESS_SECRET=replace-me
JWT_REFRESH_SECRET=replace-me-too
JWT_ACCESS_TTL=12h
JWT_REFRESH_TTL=90d
PAYSTACK_SECRET_KEY=sk_test_xxx
PAYSTACK_WEBHOOK_SECRET=paystack-webhook-secret
GOOGLE_MAPS_API_KEY=google-maps-key
CLIENT_APP_URL=exp://localhost:8081
ADMIN_DASHBOARD_URL=http://localhost:3000
